@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #347433;
  --color-secondary: #F98300;
  --color-white: #FFFFFF;
  --color-black: #1a1a1a;

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Poppins', sans-serif;

  --radius-buttons: 0.5rem;
  --radius-cards: 1rem;
}

body{
  font-family: var(--font-body);
  background-color: var(--color-white);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--radius-buttons);
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 1.15rem;
}


.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-radius: var(--radius-buttons);
  padding: 1rem 3rem;
  font-weight: 600;
  font-size: 1.15rem;
}
/*NAVBAR hover*/
.hover-secondary-text:hover {
  color: var(--color-secondary);
}

.hover-secondary-bg:hover {
  background-color: var(--color-secondary);
}

/*RESIDENT*/

/* RESERVATION BUTTON */
.btn-reservation {
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-radius: var(--radius-buttons);
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  font-size: 0.875rem;
  transition: 0.3s ease;
}
.btn-reservation:hover {
  opacity: 0.85;
}